<div class="boxStyling">
  <h2 class="heading"> About Me </h2>
  <div>
    <div class="card">
      <img src="{{myBackground}}" alt="My Background" class="aboutBackground">
      <div class="cardBody">
        <span class="aboutPicture">
          <img src="{{aboutImg}}" alt="About Images" class="aboutImg">
        </span>
        <span>
          <h4 class="subtitle">Who Am I</h4>
          <h6 class="subHeading">Computer Science Engineer, GITAM University</h6>
          <h6 class="body1">
            I am Self Taught programmer, I have a decent knowledge in
            FrontEnd and Python languages, that are required for an company
            & I aim to be associated with organization which helps me grow
            personally and professionally. 
          </h6>
        </span>
      </div>
      <h6 class="languagesTitle">Things Which i have grip on: </h6>
      <span class="languages">
          <img src="{{html}}" alt="html" class="icons">
          <img src="{{css}}" alt="css" class="icons">
          <img src="{{javaScript}}" alt="javaScript" class="icons">
          <img src="{{python}}" alt="python" class="icons">
      </span>
      <div class="personal-links">
        <span class="links-span">
          <app-anchor link="https://www.linkedin.com/in/murali-sree-krishna-chittoji-06a353170/" text="Linkedln" class="header-links"></app-anchor>
          <app-anchor link="https://github.com/ChittojiMuraliSreeKrishna" text="Github" class="header-links"></app-anchor>
        </span>
        <span class="links-span">
          <app-anchor link="https://codepen.io/murali-sree-krishna" text="codepen" class="header-links"></app-anchor>
          <app-anchor link="https://twitter.com/CmuraliSree" text="Twitter" class="header-links"></app-anchor>
        </span>
      </div>
    </div>
    <h4 class="heading contactHeading">Contact Me</h4>
    <div class="contact-me">
      <div class="contact__body">
        <div class="coffecup">
            <div class="coffecap"></div>
            <div class="coffe">
              <div class="coffelogo"></div>
            </div>
          </div>
          <div class="contact__details">
            <p class="phoneno">
              <b>+91</b> 9972577728
            </p>
            <p class="email">
              <b>@</b> cmkrishna97@gmail.com
            </p>
          </div>
    </div>
  </div>
  </div>
</div>