.contactHeading {
  font-size: var(--fs-xl);
  color: var(--colorWhite);
  text-align: center;
  margin-top: 4rem;
  font-weight: 400;
  text-shadow: 2px 2px var(--colorBlack);
}
.contactHeading::first-letter {
  color: var(--colorGreen);
  font-weight: 700;
}
.contact__body {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}
.contact__details {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-md);
  position: relative;
  top: -12px;
}
.phoneno {
  text-shadow: 2px 2px var(--colorBlack);
}
.phoneno b {
  color: var(--colorGreen);
}
.email {
  transform: translateY(-10px);
  text-shadow: 2px 2px var(--colorBlack);
}
.email b {
  color: var(--colorGreen);
}
.coffecup {
  width: 70px;
  height: 70px;
  background: grey;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.coffecup::after {
  content: "";
  width: 70px;
  height: 15px;
  background: repeating-linear-gradient(
    45deg,
    var(--colorGreen),
    var(--colorBlack) 3px
  );
  position: absolute;
  left: 0px;
  bottom: -15px;
  border-radius: 0 0 5px 5px;
}
.coffe {
  width: 64px;
  position: relative;
  left: -1px;
  bottom: -5.2rem;
  transform: translateY(-90px);
  background: var(--colorSlateGrey);
  width: 71px;
  height: 35px;
}
.coffelogo {
  background: var(--colorGreen);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 18px;
}
.coffelogo::before {
  content: "C";
  color: var(--colorWhite);
  font-weight: var(--text-bold);
  font-size: var(--fs-md);
  position: relative;
  top: -5px;
  left: 5px;
}
.coffecap {
  width: 80px;
  height: 20px;
  background: repeating-linear-gradient(
    90deg,
    var(--colorGreen),
    var(--colorBlack) 3px
  );
  position: relative;
  border-radius: 5px 5px 3px 3px;
  top: -20px;
  left: -5px;
  border: 1px solid var(--colorBlack);
  border-bottom: 0;
}
.coffecap::before {
  content: "";
  height: 15px;
  width: 60px;
  background: repeating-linear-gradient(
    90deg,
    var(--colorGreen),
    var(--colorBlack) 3px
  );
  position: absolute;
  top: -16px;
  right: 10px;
  border-radius: 5px 5px 0 0;
  border: 1px solid var(--colorBlack);
  border-bottom: 0;
}
.coffecap::after {
  content: "";
  height: 8px;
  width: 15px;
  background: var(--colorGreen);
  position: absolute;
  top: -22px;
  right: 15px;
  border-radius: 9px 0 0 0;
}
.contact__details i {
  color: var(--colorGreen);
  font-weight: var(--text-bold);
}
