.about-me{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me p {
    font-weight: 500;
  }
  .about-me__img{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .hat{
      width: 80px;
      height: 50px;
      background: var(--medium-green);
      border-radius: 3px 2px 0 0;
      position: relative;
      z-index: 10;
      transform: translateY(10px);
      border: 2px solid rgba(0, 0, 0, 0.3);
  }
  .hat:after{
      content: "";
      width: 150%;
      height: 5px;
      background: var(--medium-green);
      position: absolute;
      bottom: -5px;
      left: -25%;
      border: 2px solid rgba(0, 0, 0, 0.3);
  }
  .toyhead{
      height: 80px;
      width: 90px;
      border-radius: 50%;
      background: #f6d0a6;
      position: relative;
      z-index: 7;
  }
  .toyhead:after{
    content: "";
    height: 10px;
    width: 38px;
    background: #f6d0a6;
    position: absolute;
    bottom: -5px;
    right: 25px;
  }
  .eyes{
      background: var(--light);
      height: 20px;
      width: 20px;
      border-radius: 50%;
      position: absolute;
      top: 25px;
  } 
  .eyes:before{
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background: var(--black);
      border-radius: 50%;
      top: 2.5px;
      left: 2.5px;
  }
  .eyes:after{
      content: "";
      position: absolute;
      width: 3px;
      height: 3px;
      background: var(--light);
      border-radius: 50%;
      top: 4px;
      left: 4px;
  }
  .eye-right:after{
        left: 13px;
  }
  .eye-left{
      position: absolute;
      left: 20px;
  }
  .eye-right{
      position: absolute;
      right: 20px;
  }
  .mouth{
      position: absolute;
      left: 28%;
      bottom: 10%;
      background: var(--black);
      width: 40px;
      height: 20px;
      overflow: hidden;
      border-radius: 10px 10px 70px 70px;
  }
  .mouth:before{
      content: "";
      height: 4px;
      width: 20px;
      background: var(--light);
      position: absolute;
      top: 0;
      left: 10px;
      border-radius: 0px 0px 50px 50px;
  }
  .mouth:after{
      content: "";
      height: 6px;
      width: 20px;
      background: #ff0000;
      position: absolute;
      bottom: -2px;
      left: 10px;
      border-radius: 50px 50px 50px 50px;
  }
  .toybody{
      height: 80px;
      transform: translateY(3px);
      width: 120px;
      background: var(--medium-green);
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      position: relative;
      border: 2px solid rgba(0, 0, 0, 0.3)
  }
  .buttons{
      background: var(--black);
      height: 10px;
      width: 10px;
      border-radius: 50%;
      position: absolute;
      left: 45%;
  }
  .button1{
      margin: 1em 0;
  }
  .button2{
      margin: 2em 0;
  }
  .button3{
      margin: 3em 0;
  }
  .about__title {
    font-weight: var(--text-normal);
    font-size: var(--fs-lg);
    margin: 0.5em 0;
  }
  .about-me__title{
      font-size: var(--fs-xl);
      margin-top: 3rem;
  }
  .about-me__title::first-letter{
      color: var(--green);
      font-weight: var(--text-bold);
  }
  .about__title strong{
      color: var(--Color5);
  }
  .about__subtitle {
    background: var(--medium-green);
    color: var(--light);
    font-size: var(--fs-md);
    padding: 0.25em 1em;
    margin-bottom: 1em;
    font-weight: var(--text-bold);
    border-radius: 2rem;
  }
  .knowledge h4{
      text-decoration: underline;
      font-weight: var(--text-bold);
  }
  .about-me p {
    color: var(--yellow);
    text-align: center;
  }
  .languages{
      display: flex;
      justify-content: space-between;
  }
  .icons{
      width: 50px;
  }
