.certificate-title{
    font-size: var(--fs-xl);
    font-weight: var(--text-normal);
    color: var(--light);
    margin: 3rem;
}
.certificate-title::first-letter{
    color: var(--green);
    font-weight: var(--text-bold);
}
.certificates{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.certificate-items{
    background: var(--green);
    overflow: hidden;
}
.certificate-img{
    height: 15rem;
    transition: transform 750ms cubic-bexier(.5, 0, .5, 1),
        opacity 250ms linear;
}
.certificate-img:hover,
.certificate-items:focus .certificate-img{
    transform: scale(1.2);
    opacity: .8;
}
