html {
	--colorLight: #fbf1c7;
	--colorDarkest: #282828;
	--colorDark: #3c3836;
	--colorBlue: #458588;
	/*Font Size*/
	--fs-xl: 2.5rem;
	--fs-lg: 2rem;
	--fs-md: 1.5rem;
	--fs-sm: 1rem;
}

@media (min-width: 1000px) {
	html {
		--fs-xl: 3.5rem;
		--fs-lg: 3rem;
		--fs-md: 1.5rem;
		--fs-sm: 1.125rem;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	background: var(--colorLight);
}
