.Intro{
    display: block;
    padding-top: 6em;
}
.intro__title{
    font-weight: var(--text-normal);
    margin-bottom: 0.25em;
    color: var(--green);
    font-size: var(--fs-xl);
}
.intro__subtitle{
    background: var(--medium-green);
    color: var(--light);
    font-size: var(--fs-md);
    padding: 0.25 1em;
    margin-bottom: 1em;
}
.intro__img{
    border-radius: 1rem;
}
@media (max-width: 900px){
    .intro__subtitle{
        text-align: center;
    }
}
.intro__title strong{
    display: block;
    color: var(--light);
    font-weight: var(--text-normal);
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.05rem;
    animation: typing 3.5s steps(60, end);
}
@keyframes typing{
    from{
        width: 1%;
    }
    to{
        width: 100%;
    }
}
.intro__title strong::first-letter{
    color: var(--green);
    font-weight: var(--text-bold);
}
@media (min-width: 900px){
    .Intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        justify-content: center;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-column-gap: 1em;
    }
    .intro__title{
        text-align: left;
    }
    .intro__img{
        grid-area: img;
        transform: translateY(-40px);
        min-width: 250px;
        position: relative;
        z-index: 2;
        border: 2px solid var(--medium-green);
    }
    .intro__subtitle{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        padding-right: 2rem;
        transform: translateX(-2.5em);
        border-radius: 30px;
        width: calc(100% + 3em);
    }
}
