.moreProj{
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-template-areas:
        ".moreProj-head .moreProj-body"
        ".moreProj-head .moreProj-body";
    grid-column-gap: 0;
}
.moreProj-head{
    background: var(--medium-green);
    width: 3rem;
    height: 100%;
    border-right: 1px dashed var(--black);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.head-circle{
    background: rgba(64, 47, 29, 0.3);
    border: 3px solid var(--yellow);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: 7px;
    position: relative;
}
.head-circle::before{
    content: "";
    display: block;
    width: 1.8rem;
    height: 2px;
    background: var(--yellow);
    margin-top: 12px;
}
.moreProj-title{
    color: var(--light);
    font-size: var(--fs-xl);
    text-align: center;
    margin-top: 3rem;
}
.moreProj-title::first-letter{
    color: var(--green);
    font-weight: 900;
}
.moreProj-text{
    color: var(--yellow);
    text-align: center;
}
.moreProj-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.moreProj-card{
    background: var(--light-green);
    border-left: 1px dashed var(--black);
    color: var(--black);
    height: 3rem;
    width: 12rem;
    margin-top: 0.5rem;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.moreProj-card:nth-of-type(1){
    margin-top: 0;
}
.moreProj-card:hover{
    margin-left: 1rem;
    transform: rotate(2deg);
    color: var(--medium-green);
    width: 11rem;
    transition: 0.5s;
    text-decoration: none;
}
.moreProj-card p{
    transform: translateY(5px);
    font-weight: var(--text-bold);
}
@media (min-width: 900px){
    .moreProj-card{
        width: 20rem;
    }
    .moreProj-card:hover{
        width: 19rem;
    }
    .moreProj-card p{
        font-size: var(--fs-md);
        transform: translateY(10px);
    }
}
/* Contact Me Coffe */
.contact__title{
    font-size: var(--fs-xl);
    text-align: center;
    margin-top: 4rem;
}
.contact__title::first-letter{
    color: var(--green);
    font-weight: var(--text-bold);
}
.contact__body{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}
.contact__details{
    display: flex;
    flex-direction: column;
    font-size: var(--fs-md);
}
.email{
    transform: translateY(-10px);
}
.coffecup{
    width: 70px;
    border-top: 90px solid var(--light-green);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin-right: 2rem;
}
.coffe{
    width: 64px;
    position: relative;
    left: -12px;
    transform: translateY(-90px);
    border-top: 40px solid var(--dark-green);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.coffelogo{
    background: var(--green);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: 9px;
}
.coffecap{
    width: 80px;
    height: 20px;
    background: var(--medium-green);
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: -110px;
    left: -20px;
}
.coffecap:before{
    content: '';
    height: 15px;
    width: 60px;
    background: var(--medium-green);
    position: absolute;
    top: -15px;
    right: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.contact__details i{
    color: var(--green);
    font-weight: var(--text-bold);
}
