.Personal .card{
}
.Personal .projects__title{
    margin: 3rem;
}
.Personal .card h3{
    font-weight: var(--text-bold);
    margin-top: 1rem;
    color: var(--light-green);
}
.content{
    display: flex;
}
.title{
    font-size: var(--fs-sm);
    background-color: var(--black);
    color: var(--light);
    padding: 0.5rem;
    margin: 0.5rem 0.3rem;
    font-weight: var(--text-bold);
    border: 0.5px solid var(--medium-green);
    border-radius: 8px;
}
.personal-img{
    margin-top: 1rem;
    margin-left: 0.4rem;
    width: 29rem;
    height: 20rem;
    position: relative;
    left: 0;
    right: 0;
    border-radius: 10px;
    border: 0.5px solid var(--light-green);
}
.pagebtn{
    background: var(--green);
    color: var(--light);
    padding: 0.6rem;
    border-radius: 0.3rem;
    margin: 0 .5rem;
}
.pagebtn:hover{
    color: var(--light);
    font-weight: var(--text-bold);
    text-decoration: none;
}
.Personal .card{
    margin: 0.5rem;
}
.Personal .projects{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}
.Personal .card img{
    height: 20rem;
}
@media (min-width: 1000px){
    .Personal .card{
        margin-left: 1rem;
    }
}
