html{
  --colorLight: #fbf1c7;
	--colorDarkest: #282828;
	--colorDark: #3c3836;
	--colorBlue: #458588;
	/*Font Size*/
	--fs-xl: 2.5rem;
	--fs-lg: 2rem;
	--fs-md: 1.5rem;
	--fs-sm: 1rem;
}
a {
  text-decoration: none;
}
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #fbf1c7;
	height: 100vh;
}

img{
  width: 100%;
	height: 100%;
}